.tamagotchi {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.choose-level {
    margin-right: 200px;
}

.tamagotchi-status {
    display: flex;
    align-items: center;
}

.meter-bars {
    display: flex;
}

.tamagotchi-status__text {
    margin-right: 50px;
}

.tamagotchi-status__img {
    height: 250px;
    width: auto;
}

.tamagotchi-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    

}

.tamagotchi-buttons {
    display: flex;
    margin-top: 70px;
    margin-left: 150px;
    max-width: 300px;
    margin-top: 10px;
}

.tamagotchi__button {
    margin-right: 30px;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    cursor: pointer;
    width: 120px;
    margin-top: 10px;
    
}

.tamagotchi-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    
    margin-top: 50px; 
}

.tamagotchi-timer {
    display: none;
    margin-bottom: 30px;
}
.tamagotchi-restart {
    padding: 15px 30px 15px 30px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    transition: 0.4s;
}

.tamagotchi-restart:hover {
    transform: scale(1.1);
    background-color: bisque;
}
button:focus {
    outline: none;
}